# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo
.expo/
.expo-shared/

# Build outputs
dist/
*.DS_Store

# Logs
logs/
*.log

# Coverage
coverage/

# Misc
.env
.env.*
.vercel

# AWS
*.csv
*_credentials.csv
*_accessKeys.csv
lambda-function.zip
*.pem
.aws/
